doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    title Template
  body
    .wrapper
      .page
        .parallax
          ul.parallax__list
            li
              .parallax__bg
            li(data-depth="0.2")
              .parallax__rope.parallax__rope_1
                .parallax__element.parallax__element_1
                .parallax__element.parallax__element_2
                .parallax__element.parallax__element_3
                img(src='../assets/images/rope.png')
            li(data-depth="0.2")
              .parallax__rope.parallax__rope_2
                .parallax__element.parallax__element_4
                .parallax__element.parallax__element_5
                img(src='../assets/images/rope.png')
            li(data-depth="0.2")
              .parallax__rope.parallax__rope_3
                .parallax__element.parallax__element_6
                .parallax__element.parallax__element_7
                .parallax__element.parallax__element_8
                img(src='../assets/images/rope.png')
            li
              .parallax__wave.parallax__wave_1
            li
              .parallax__wave.parallax__wave_1
            li
              .parallax__wave.parallax__wave_1
            li
              .parallax__lighthouse
            li
              .parallax__wave.parallax__wave_1
            li
              .parallax__wave.parallax__wave_1
            li
              .parallax__wave.parallax__wave_1



        .content

    